.el-submenu__title{
    border-bottom: 1px solid #2c3e50 !important;
    padding-left: 8px !important;
}
.el-menu-item{
    &.is-active {
        background-color: #f56c6c !important;
        color: #fff;
    }
    font-size: 14px ;
    border-bottom: 1px solid #2c3e50;
}

div.el-table{
    td,th{
        text-align: center;
    }
    th{
        font-weight: bold;
    }
}

.el-dialog__body {
    padding: 30px 50px !important;
}

.el-form{
    .el-form-item:last-child{
        margin-bottom: 0 !important;
    }
}

.el-dialog__footer{
    text-align: center !important;
    .el-button + .el-button{
        margin-left: 22px;
    }
}